/* CUSTOM PROPERTIES */

:root {
    --testimonial-quotes-clr: rgba(95, 95, 95, 0.4);

    --fw-section-headings: 200;
    --fs-section-headings: 3rem;
    --fs-first-letter-headings-mobile: 9.5rem;
    --lh-section-headings: 1.05;

    --margin-bottom-headings: 1.5rem;
    --margin-top-headings: 2rem;

    --margin-top-headings-large: 3rem;
    --margin-bottom-headings-large: 3rem;

    --clr-thin-headings: rgba(34, 107, 51);
    --clr-headings-watermark: rgba(34, 148, 77, .7);
    --clr-quotes-watermark: rgba(34, 148, 77, .4);
    --fw-thin-headings: 100;

    /* Tablet Media Query */

    --fs-heading-first-letter-tablet: 15.5rem;
    --fs-heading-following-letters-tablet: 5.5rem;

    --fs-classes-page-sections-tablet: 4.5rem;
    --fs-classes-section-numbers-tablet: 9.5rem;
}

/* GENERAL RESET STYLES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/*CONTAINER THAT HOLDS THE TEXT AND LAYOUT (APART FROM HERO SECTIONS) OF THE PAGES TOGETHER */

.container {
    width: 80vw;
    margin: 0 auto;
}

/*HOME PAGE LAYOUT - HERO SECTION AND LAYOUT*/

.home-page-grid {
    display: grid;
    grid-template-rows: 18rem auto auto auto auto auto 9rem;
}

.home-page-background-hero-image {
    background-image: url(images/home-page-cropped-edited.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1 / 2;
}

.quote {
    display: none;
}

/* STYLES OF THE NAVIGATION*/

nav {
    display: flex;
    /*background-color: rgba(61, 49, 49, 0.336);*/
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    /* background-color: rgba(65, 61, 61, .2); */
    margin-bottom: 2rem;
}

button {
    all: unset;
    color: white;
    font-size: 2rem;
    transform: rotate(90deg);
    transition: transform 250ms ease-in;
}

button.active {
    transform: rotate(180deg);
    transition: transform 500ms ease-in;
    transform-origin: center center;
    margin-top: -10px;
    background: url(images/x.svg);
    background-repeat: no-repeat;
    color: transparent;
}

nav button {
    z-index: 999;
}

.no-scroll {
    overflow-y: hidden;
}

nav ul {
    position: absolute;
    opacity: 0;
    right: 0rem;
    top: -35rem;
    width: 85%;
    height: 100vh;
    transition: 350ms linear;
}

nav ul.active {
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;
    height: 100vh;
    background: rgba(147, 202, 189, 0.9);
    background: rgba(179, 228, 216, 0.9);
    z-index: 3;
    opacity: 1;
    transition: 350ms ease-in;

}

nav ul li {
    list-style-type: none;
    position: relative;
    top: 30%;
    /* opacity: 1; */
    text-align: center;
    padding-bottom: 2rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
}

/* STYLES FOR THE LOGO OF THE WEBSITE */

.logo img {
    border-radius: 60%;
    width: 2.5rem;

    /* "display: flex;" in this case allows me to center the logo in the navigation too.
    if I don't include it, the image is not centered, it is not affected by the styles of the <nav> tag*/
    display: flex;
}

/*ABOUT ME STYLES*/

.about-me {
    grid-row: 2 / 3;
    /* margin-top: 1.2rem; */
    /* margin-bottom: 1.2rem; */
}

.about-me p {
    font-weight: 200;
}

.about-me h1 {
    font-size: var(--fs-section-headings);
    line-height: var(--lh-section-headings);
    color: rgb(35, 41, 41);
    font-weight: 300;
    margin-top: var(--margin-top-headings);
}

.about-me .about-me-heading {
    font-weight: var(--fw-thin-headings);
    margin-top: 1.5rem;
    color: var(--clr-thin-headings);
    color: rgb(14, 92, 62);
}

.about-me-heading:first-letter {
    font-size: var(--fs-first-letter-headings-mobile);
    letter-spacing: -1.7rem;
    color: var(--clr-headings-watermark);
    font-weight: 800;
    font-family: 'Fredoka One', cursive;
    font-family: 'Skranji', cursive;
}

.about-me h1:nth-child(2) {
    margin-bottom: var(--margin-bottom-headings);
    font-weight: 800;
    margin-top: .4rem;
    font-size: 3rem;
}

.about-me li {
    margin-bottom: .5rem;
}

.about-me i {
    font-size: 1.2rem;
    margin-right: 1.5rem;
    height: 1rem;
    width: 1rem;
}

.column-section p:nth-child(2) {
    margin-top: 0.5rem;
}

.column-section p:nth-child(3) {
    margin-top: 0.5rem;
    margin-bottom: .5rem;
}

.column-section p:nth-child(4) {
    margin-bottom: 1.5rem;
}

.about-me ul {
    list-style-type: none;
}


/* STYLES FOR THE SECOND IMAGE ON HOME PAGE */

.second-image {
    width: 100%;
    height: 350px;
    background: url(images/website-pictures/kickboxing-grade.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    grid-row: 3 / 4;
}

/* STYLES FOR THE SPECIALIST AREAS AND EXPERTIES SECTION */

.section-4-5 {
    grid-row: 4 / 5;
}

.thin-font-heading-home-page h1 {
    font-weight: var(--fw-thin-headings);
    line-height: var(--lh-section-headings);
    margin-bottom: var(--margin-bottom-headings);
    margin-top: var(--margin-top-headings);
}

.heading-styles h1::first-letter {
    font-size: var(--fs-first-letter-headings-mobile);
    font-weight: bold;
    letter-spacing: -1.7rem;
    color: var(--clr-headings-watermark);
    line-height: .8;
    font-family: 'Fredoka One', cursive;
    font-family: 'Skranji', cursive;
}

.heading-styles-testimonials {
    margin-bottom: 5rem;
}

.heading-styles-testimonials h1::first-letter {
    font-size: var(--fs-first-letter-headings-mobile);
    font-weight: bold;
    letter-spacing: -3rem;
    color: var(--clr-headings-watermark);
    line-height: .8;
    font-family: 'Skranji', cursive;
}

.heading-styles-personal h1::first-letter {
    font-size: var(--fs-first-letter-headings-mobile);
    font-weight: bold;
    letter-spacing: -4rem;
    color: var(--clr-headings-watermark);
    line-height: .8;
    font-family: 'Skranji', cursive;
}

.thin-font-heading-home-page li {
    font-size: 1.2rem;
    font-weight: 200;

}

.thin-font-heading-home-page i {
    font-size: 1.3rem;
    margin-left: .2rem;
}

.specialist-areas {
    padding: .5rem 0;
    /* background-color: rgb(217, 255, 217, .4); */
    box-shadow: .8rem 0rem 1.2rem rgba(171, 218, 183, 0.4);
    box-shadow: .8rem 0rem 1.2rem rgba(28, 148, 112, .3);
}

.specialist-areas ul p {
    display: inline;
}

.container-cards h1 {
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 10px;
    padding-left: 1rem;
    font-weight: 200;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: .1rem;
    margin-top: 0;
}

.level3 {
    background: url(images/personal-trainer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(57, 65, 57, .7);
    background-blend-mode: multiply;
}

.level2 {
    background: url(images/kettlebells-edited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(57, 65, 57, .7);
    background-blend-mode: multiply;
}

.circuit-training {
    background: url(images/circuit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(57, 65, 57, .7);
    background-blend-mode: multiply;
}

.nutrition-award {
    background: url(images/nutrition.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(57, 65, 57, .7);
    background-blend-mode: multiply;
}

/* STYLES FOR THE TESTIMONIALS SECTION */

.testimonials {
    grid-row: 5 / 6;
    border-bottom: rgb(156, 190, 180);

}

.testimonials h1 {
    text-align: left;
    font-weight: var(--fw-thin-headings);
    text-transform: uppercase;
    font-size: var(--fs-section-headings);
    line-height: var(--lh-section-headings);
    margin-bottom: var(--margin-bottom-headings-large);
    margin-top: var(--margin-top-headings-large);
}

/* .testimonials-card {
    width: 90%;
    background-color: rgb(156, 190, 180);
    box-shadow: .5rem .5rem .9rem rgb(156, 190, 180);
    display: grid;
    grid-template-columns: 100px 50px 1fr;
    grid-template-rows: repeat(2, minmax(6rem, auto));
    position: relative;
    color: black;
    margin: 2rem auto;
    border-radius: .5rem;
} */

/* .testimonials-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    shape-outside: circle(50%);
    margin-right: 2rem;
} */

/* .testimonials-card p {
    font-size: .8rem;
    grid-column: 3 / 4;
    padding: 15px 20px 0 20px;
    
} */

/* .testimonials-card:last-child {
    margin-bottom: 0;
} */

/* .testimonials-card p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\f10d';
    font-size: 5rem;
    color: var(--clr-headings-watermark);
    position: absolute;
    top: -3.5rem; 
    left: 0;
    grid-column: 2 / 3; 
    padding-right: 1rem;
    overflow: hidden;
    transform: rotate(-20deg);
} */

/* .testimonials-card h3 {
    grid-column: 3 / 4; 
    align-self: end;
    justify-self: start;
    font-size: .6rem;
    padding-left: 20px;
} */

.testimonials-card-1 {
    width: 90%;
    /* background-color: rgb(156, 190, 180); */
    /* box-shadow: .5rem .5rem .9rem rgb(156, 190, 180); */
    box-shadow: .1rem .1rem .9rem rgb(156, 190, 180);
    /* display: grid;
    grid-template-columns: 100px 50px 1fr;
    grid-template-rows: repeat(2, minmax(70px, auto)); */
    position: relative;
    color: black;
    margin: 0 auto;
    border-radius: .5rem;
    padding: 1rem 0;

}

.testimonials-card-1 img {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    shape-outside: circle(50%);
    object-fit: cover;
    margin-right: 2rem;
}

.testimonials-card-1 p {
    padding: 1rem;
    font-size: .8rem;
}

.testimonials-card-1 p::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f10d';
    font-size: 5rem;
    color: var(--clr-quotes-watermark);
    position: absolute;
    top: -3.5rem;
    left: 0;
    grid-column: 2 / 3;
    padding-right: 1rem;
    overflow: hidden;
    transform: rotate(-20deg);
}

.testimonials-card-1 h3,
.testimonials-card-img-right h3 {
    padding-left: 1rem;
    font-size: 1.3rem;
}

/* Testimonials with images on the right */

.testimonials-card-img-right {
    width: 90%;
    margin: 0rem auto;
    /* background: rgb(200, 223, 214); */
    /* display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: repeat(minmax(6rem, auto)); */
    position: relative;
    box-shadow: -.1rem -.1rem .9rem rgb(156, 190, 180);
    border-radius: .5rem;
    margin: 4rem auto;
    padding: 1rem 0;
}

.testimonials-card-img-right img {
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 50%;
    object-fit: cover;
    shape-outside: circle(50%);
    margin-left: 2rem;
    /* grid-column: 3 / 4; */
    /* justify-self: end; */
}

.testimonials-card-img-right p {
    font-size: .8rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 1rem 1rem;
}

.testimonials-card-img-right p::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f10d';
    font-size: 5rem;
    color: var(--clr-quotes-watermark);
    position: absolute;
    top: -3.5rem;
    right: 0;
    padding-right: 1rem;
    overflow-x: hidden;
    transform: rotate(20deg);
}

.testimonials-card-img-right h3 {
    grid-column: 2 / 3;
    align-self: end;
    justify-self: start;
    padding-left: 20px;
}

/* End of Testimonials with image aligned to the right */

/*PERSONAL AND ONLINE TRAINING STYLESS*/

.personal-and-online-training {
    grid-row: 6 / 7;
}

/* .chevron-p-and-o-training::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\f078';
    font-size: 5rem;
    color: rgba(0, 0, 0,);
    display: block;
    text-align: center;
    animation: 1.2s infinite alternate bounceUpDown; 
} */

/* Animation for the Chevron */

/* @keyframes bounceUpDown {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
} */

/* end of animation */

.third-image {
    width: 100vw;
    height: 60vh;
    background-image: url(images/classes-bg-image-edited.jpg);
    background-size: cover;
    /* background-position: top; */


    /* background-color: rgba(57, 65, 57, .4);
    background-blend-mode: multiply; */
}

.personal-and-online-training h1 {
    margin-bottom: var(--margin-bottom-headings-large);
    margin-top: var(--margin-top-headings-large);
    font-weight: var(--fw-thin-headings);
    font-size: var(--fs-section-headings);
    line-height: var(--lh-section-headings);
    text-transform: uppercase;
}

.personal-and-online-training p {
    margin-top: 3rem;
}

.personal-and-online-training p span {
    font-size: 1.05rem;
    font-weight: bold;
}

.button {
    display: inline-block;
    border-radius: 0.4rem;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: .8rem 1.1rem;
    background-color: rgba(121, 209, 183, 0.815);
    color: rgb(54, 54, 54);
    margin: 0 0 var(--margin-bottom-headings-large) 0;
}

.button:active {
    border: 1px solid var(--clr-headings-watermark);
    background: white;
}

.personal-and-online-training-list img {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    object-fit: cover;
    justify-self: end;
    align-self: end;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
}


/*FOOTER STYLES*/

footer {
    background: rgba(0, 0, 0);
    grid-row: 7 / 8;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

footer p {
    color: white;
    font-size: 1rem;
    border-top: none;
}

footer i {
    font-size: 2rem;
}

footer i:hover,
footer i:focus {
    transform: translateY(-.8rem);
    transition: transform 250ms ease-in-out;
}

footer ul li a:hover {
    color: rgba(255, 255, 255, 0.415);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.footer-elements-layout ul {
    list-style-type: none;
}

.footer-elements-layout a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.copyright {
    text-align: center;
    background: black;
    color: white;
    font-size: 0.7rem;

}


/* STYLES FOR THE NAVIGATION, 
LOGO AND HERO IMAGE ON "CLASSES" PAGE */

.classes-layout-grid {
    display: grid;
    /* grid-template-rows: 26.25rem 1fr 315px 11rem; */
    grid-template-rows: 18rem auto 9rem;
}

.classes-hero-background {
    background-image: url(images/loggo-edited-edited.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1 / 2;

}

/* Styles for "Plans and Pricing" 
section on Classes page*/

.plans-and-pricing {
    grid-row: 2 / 3;
}

.plans-and-pricing h1 {
    font-size: var(--fs-section-headings);
    font-weight: var(--fw-section-headings);
    line-height: var(--lh-section-headings);
    margin: var(--margin-top-headings) 0 var(--margin-bottom-headings) 0;
    text-transform: uppercase;
}

/* .lower-case-custom-classes h1 {
    text-transform: normal;
} */

.plans-and-pricing h1 span {
    font-weight: var(--fw-thin-headings);
    color: var(--clr-thin-headings);
    color: rgb(14, 92, 62);
}

.plans-and-pricing h1 span:nth-child(2) {
    font-weight: 200;
}

.online-training-section h1,
.one-to-one-section h1,
.corporate-package-section h1 {
    margin-top: 0;
}

.classes-description-paragraphs {
    margin-top: 1.5rem;
    font-weight: 200;
    font-size: 1.1rem;
}

.plans-heading p::first-letter {
    font-size: 1.7rem;
    line-height: .1;
}

.online-training-section::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\31.';
    font-size: 5.5rem;
    display: block;
    margin-top: 1.5rem;
    color: var(--clr-headings-watermark);
}

.short-dividing-image-online {
    background: url(images/online-training.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    background-blend-mode: lighten;
    background-color: rgb(62, 80, 70);
}

.one-to-one-section::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\32.';
    font-size: 5.5rem;
    display: block;
    margin-top: 1.5rem;
    color: var(--clr-headings-watermark);
}

.short-dividing-image-group {
    background: url(images/one-to-one-group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    background-blend-mode: lighten;
    background-color: rgb(62, 80, 70);
}

.corporate-package-section::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\33.';
    font-size: 5.5rem;
    display: block;
    margin-top: 1.5rem;
    color: var(--clr-headings-watermark);
}

.short-dividing-image-corporate {
    background: url(images/corporate-training.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    background-blend-mode: lighten;
    background-color: rgba(62, 80, 70);
}

.custom-plan-section h2 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
}

.section-with-circle-images {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.section-with-circle-images img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 50%;
}

.section-with-circle-images h1 {
    font-weight: 100;
    text-transform: none;
}

.section-with-circle-images p {
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    align-self: center;
}

.training-options-classes h4 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4;
    margin: var(--margin-top-headings-large) 0 var(--margin-bottom-headings-large) 0;
    font-family: 'Raleway', sans-serif;
}

/* FOOTER ON CLASSES PAGE */

.classes-layout-grid footer {
    grid-row: 3 / 4;
}

/* END OF FOOTER ON CLASSES PAGE */


/* STYLES FOR THE CONTACT PAGE */


.contact-layout-grid {
    display: grid;
    grid-template-rows: 18rem auto auto 9rem;
}

.contact-header-bg {
    background-image: url(images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-main h1 {
    font-weight: var(--fw-section-headings);
    font-size: var(--fs-section-headings);
    line-height: var(--lh-section-headings);
    text-transform: uppercase;
    margin: var(--margin-top-headings) 0 var(--margin-bottom-headings) 0;
    grid-row: 2 / 3;
}

.contact-main h1 span {
    font-weight: var(--fw-thin-headings);
    color: var(--clr-thin-headings);
}

.contact-main p {
    /* margin-bottom: var(--margin-bottom-headings); */
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    line-height: 1.35;
    margin-top: 2.5rem;
    margin-bottom: 1.3rem;
}

.phone h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 10%;
    margin-bottom: 1.5rem;
    display: inline-block;
    padding: .2rem 0;
}

.phone {
    margin-bottom: var(--margin-bottom-headings);
    margin-top: var(--margin-top-headings);
    grid-row: 3 / 4;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.phone h2:nth-child(1)::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f095";
    margin-right: .5rem;
    background: rgb(116, 173, 138, .2);
    padding: 1rem;
    border-radius: .5rem;
}

.phone h2:nth-child(2)::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0e0";
    margin-right: .5rem;
    background: rgb(116, 173, 138, .2);
    padding: 1rem;
    border-radius: .5rem;
}

.contact-social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding: 1rem 1rem;
    gap: 1.5rem;
    width: max-content;
    height: max-content;
    margin-left: auto;
    background-color: rgb(250, 246, 246);
    background-color: rgb(116, 173, 138, .2);
    position: fixed;
    bottom: 35%;
    right: 0;
    z-index: 1;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.contact-social-media i {
    font-size: 2rem;
    color: rgb(91, 138, 112);
    color: rgb(32, 95, 85);
}

/* FOOTER ON CONTACT PAGE */

.contact-layout-grid footer {
    grid-row: 4 / 5;

}

/* STYLES FOR GALLERY PAGE */

.gallery-page-grid {
    display: grid;
    grid-template-rows: 18rem auto 9rem;
}

.gallery-bg-image {
    grid-row: 1 / 2;
    background: url(images/about-cropped-edited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-page-main {
    grid-row: 2 / 3;
}

.gallery-page-main article h1,
.gallery-page-main article p,
.gallery-page-main h2 {
    width: 80vw;
    margin: 2rem auto;
}

.gallery-page-main h1 {
    font-size: var(--fs-section-headings);
    font-weight: var(--fw-thin-headings);
    line-height: var(--lh-section-headings);
    margin: var(--margin-top-headings) 0 var(--margin-bottom-headings) 0;
    text-transform: uppercase;

    border-left: 1.5rem solid var(--clr-headings-watermark);
    padding-left: .4rem;
}

.gallery-page-main p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: var(--margin-bottom-headings);
}

.gallery-page-main img {
    display: block;
    border-radius: 2rem;
    margin-bottom: .3rem;
}

.gallery-page-main h2 {
    font-size: 1.2rem;
    font-weight: 300;
    /* margin: var(--margin-top-headings) 0 var(--margin-bottom-headings) 0; */
    line-height: 1.25;
    font-family: 'Raleway', sans-serif;
}

.back-to-top {
    padding: .25rem 1rem;
    /* background: rgba(60, 102, 70, 0.6); */
    background: rgba(34, 107, 51, 0.6);
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    margin-right: 50%;
    transform: translateX(50%);
    z-index: 30;
}

.back-to-top a {
    text-decoration: none;
    color: white;
    font-size: .75rem;
}

.back-to-top:active {
    border: 1px solid rgba(34, 107, 51, 0.6);
    background: white;
}

.back-to-top a:active {
    color: black;
}

.slider {
    position: relative;
    height: 250px;
    max-width: 100vw;
}

.slider i {
    font-size: 2rem;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

/* One-to-one slider styles */

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slides.present {
    opacity: 1;
}


/* Studio gallery slider */

.slide:first-child {
    background: url(images/studio-images/IMG_1961-cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.slide:nth-child(2) {
    background: url(images/studio-images/IMG_1962-cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.slide:nth-child(3) {
    background: url(images/studio-images/IMG_1963-cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.slide:nth-child(4) {
    background: url(images/studio-images/IMG_1965-cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide:nth-child(5) {
    background: url(images/website-pictures/IMG_2083.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* One to one gallery slider */

.slides:first-child {
    background: url(images/website-pictures/IMG_2081.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slides:nth-child(2) {
    background: url(images/website-pictures/IMG_0914.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

.slides:nth-child(3) {
    background: url(images/website-pictures/IMG_2082.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slides:nth-child(4) {
    background: url(images/website-pictures/IMG_2067-edited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button#previous {
    position: absolute;
    top: 40%;
    left: 0;
    transform: rotate(0deg);
}

button#nextSlide {
    position: absolute;
    top: 40%;
    right: 0;
    transform: rotate(0deg);
}

button#previous:hover,
button#previous:focus {
    border: .1rem solid var(--clr-headings-watermark);
    color: var(--clr-headings-watermark);
    background: rgba(255, 255, 255, 0.3);
}

button#nextSlide:hover,
button#nextSlide:focus {
    border: .1rem solid var(--clr-headings-watermark);
    color: var(--clr-headings-watermark);
    background: rgba(255, 255, 255, 0.3);
}

/* End of One-to-One slider styles */

/* Slider - Group Sessions */

.slide-2:first-child {
    background: url(images/group4-cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide-2:nth-child(2) {
    background: url(images/group2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-2:nth-child(3) {
    background: url(images/group3.jpg);
    background-repeat: no-repeat;
    background-position: top top;
    background-size: cover;
}

.slide-2:nth-child(4) {
    background: url(images/website-pictures/IMG_7707.JPG);
    background-repeat: no-repeat;
    background-position: top top;
    background-size: cover;
}

.slide-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide-2.presentTwo {
    opacity: 1;
}

/* End of slider - Group Sessions */

button#previousTwo {
    position: absolute;
    top: 40%;
    left: 0;
    transform: rotate(0deg);
}

button#nextSlideTwo {
    position: absolute;
    top: 40%;
    right: 0;
    transform: rotate(0deg);
}

button#previousTwo:hover,
button#previousTwo:focus {
    border: .1rem solid var(--clr-headings-watermark);
    color: var(--clr-headings-watermark);
    background: rgba(255, 255, 255, 0.3);
}

button#nextSlideTwo:hover,
button#nextSlideTwo:focus {
    border: .1rem solid var(--clr-headings-watermark);
    color: var(--clr-headings-watermark);
    background: rgba(255, 255, 255, 0.3);
}

/* End of Group slider styles */



.button-slider {
    display: block;
    border: .5px solid #fff;
    padding: .3rem 1rem;
    background-color: transparent;
    border-radius: 50%;
    color: #fff;
    margin: 0 .3rem;

}

button#prev {
    position: absolute;
    top: 40%;
    left: 0;
    transform: rotate(0deg);
}

button#next {
    position: absolute;
    top: 40%;
    right: 0;
    transform: rotate(0deg);
}

button#prev:hover,
button#prev:focus {
    border: .1rem solid var(--clr-headings-watermark);
    color: var(--clr-headings-watermark);
    background: rgba(255, 255, 255, 0.3);
}

button#next:hover,
button#next:focus {
    border: .1rem solid var(--clr-headings-watermark);
    color: var(--clr-headings-watermark);
    background: rgba(255, 255, 255, 0.3);
}

/* STYLES FOR FOOTER ON GALLERY PAGE */

.gallery-page-footer {
    grid-row: 3 / 4;
}

/* STYLES FOR TABLETS */

@media(min-width: 550px) {

    /* HOME PAGE STYLES */
    /* GRID LAYOUT OF THE WHOLE PAGE */

    .home-page-grid {
        grid-template-rows: 33rem auto auto auto auto auto 12rem;
    }

    /* HEADER AND NAVIGATION */

    nav ul {
        opacity: 1;
        top: 0;
        font-size: 1rem;
        gap: 1rem;
        font-weight: bold;
        height: 7rem;
        display: flex;
        justify-content: end;
        padding-right: 1.5rem;
    }

    nav {
        height: 7rem;
    }

    ul li {
        margin: 0;
        padding: 0;
        height: 100%;
        align-self: center;
    }

    nav ul li a {
        font-size: 1.5rem;
        font-weight: bold;
        /* color: rgb(3, 3, 3); */
        color: rgb(255, 255, 255);
        position: relative;
    }

    nav ul li a:hover,
    nav ul li a:focus {
        animation-duration: 1s;
        animation-name: slidein;
        transition: all 500ms;

    }

    nav ul li a:hover::before {
        content: '';
        position: absolute;
        border-top: 2px solid white;
        animation-duration: 1s;
        animation-name: slidein;
        animation-fill-mode: forwards;
        transition: border-top 350ms;
    }


    @keyframes slidein {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }


    .logo img {
        width: 4rem;
    }

    button {
        display: none;
    }

    .home-page-background-hero-image {
        grid-row: 1 / 2;
        background: linear-gradient(90deg, rgba(166, 244, 205, 1) 14%, rgba(120, 237, 202, 1) 42%, rgba(179, 237, 222, 1) 70%);
        background: linear-gradient(90deg, rgba(53, 198, 87, 1) 0%, rgba(45, 184, 119, .5) 0%, rgba(21, 177, 97, .5) 70%);
        background: var(--clr-headings-watermark);
        border-bottom-left-radius: 15rem;

    }

    .home-page-background-hero-image::before {
        position: absolute;
        content: open-quote;
        font-size: 14rem;
        top: 2.5rem;
        left: 2rem;
        color: rgb(236, 236, 236);
        z-index: 1;
    }

    .quote {
        display: block;
        position: absolute;
        top: 10rem;
        left: 5rem;
        width: 70vw;
        color: rgb(3, 3, 3);
        z-index: 5;
        font-size: var(--fs-section-headings);
        font-weight: 200;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .quote span {
        color: white;
        font-weight: bold;
        font-family: Skranji;
    }



    /* SECOND BACKGROUND IMAGE AT THE TOP OF THE PAGE */

    .second-background-image-header {
        background: url(images/img1.jpg);

        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        /* background: rgb(121, 145, 138); */
        /* height: 53vh; */
        /* inset: 0; */
        z-index: 2;
        height: 23rem;
        width: 23rem;
        right: 2rem;
        top: 17rem;
        border-radius: 50%;

    }

    /* ABOUT ME SECTION */

    .about-me-background {
        grid-row: 2 / 3;
    }

    .column-section {
        column-count: 2;
        /* column-width: 200px; */
        column-gap: 2rem;
        margin-bottom: 2.5rem;
        hyphens: auto;
    }

    .column-section p {
        font-size: 1.3rem;
    }

    .about-me-heading:first-letter {
        font-size: var(--fs-heading-first-letter-tablet);
        letter-spacing: -1.7rem;
        color: var(--clr-headings-watermark);
        font-weight: 800;
    }

    .about-me .about-me-heading {
        font-weight: var(--fw-thin-headings);
        margin-top: 1.5rem;
        color: var(--clr-thin-headings);
        font-size: 6rem;
    }

    .about-me h1:nth-child(2) {
        margin-bottom: var(--margin-bottom-headings);
        font-weight: 800;
        margin-top: .4rem;
        font-size: 5rem;

    }

    /* SECOND IMAGE */

    .second-image {
        grid-row: 3 / 4;
        background-size: cover;
        height: 35rem;
    }

    /* SPECIALIST AREAS */

    .section-4-5 {
        margin: 2rem auto;
    }

    .heading-styles h1::first-letter {
        font-size: var(--fs-heading-first-letter-tablet);
        letter-spacing: -1.7rem;
    }

    .heading-styles h1 {
        font-size: var(--fs-heading-following-letters-tablet);
    }

    .specialist-areas {
        box-shadow: none;
        margin: 3rem 0;
        /* border-bottom: .1rem solid rgb(56, 70, 62); */
    }

    .specialist-areas ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 30rem));
        grid-template-rows: repeat(3, minmax(4rem, 5rem));
        gap: 1rem;
    }

    .specialist-areas ul li {
        /* border-left: .7rem solid green; */
        display: flex;
        /* align-items: end; */
        margin: 0;
        border-right: 1px solid rgb(139, 188, 233, .6);
    }

    .specialist-areas ul li:nth-child(2),
    .specialist-areas ul li:nth-child(4) {
        border-right: none;
    }

    .specialist-areas ul li p {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 300;
        display: block;
        margin: 0;
        align-self: start;
        margin-left: auto;
        margin-right: .5rem;
        width: 60%;
        font-variant: small-caps;
    }

    .specialist-areas ul li i {
        font-size: 4rem;
        padding-bottom: 1rem;
        padding-right: 3rem;
        color: rgb(139, 188, 233, .6);
        align-self: end;
        height: 100%;
    }

    /* MY EXPERTIES */
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .7rem;
        height: 25rem;
        margin-top: 3rem;
    }

    .container-cards h1 {
        font-size: 1.7rem;
    }


    /* TESTIMONIALS */

    .heading-styles-testimonials h1::first-letter {
        font-size: var(--fs-heading-first-letter-tablet);
        letter-spacing: -4rem;
    }

    .heading-styles-testimonials h1 {
        font-size: var(--fs-heading-following-letters-tablet);
        margin-bottom: 5rem;
    }

    .testimonials-card-1 {
        transform: rotate(-1deg);
    }

    .testimonials-card {
        margin-top: 5rem;
    }

    .testimonials-card img {
        width: 100px;
        height: 100px;
    }

    .testimonials-card-img-right img {
        width: 150x;
        height: 150px;
    }

    .testimonials-card-1 p,
    .testimonials-card p,
    .testimonials-card-img-right p {
        font-size: 1rem;
        padding: 1rem;
    }

    .testimonials-card-1 h3,
    .testimonials-card h3 {
        font-size: 1.3rem;
    }

    /* PERSONAL AND ONLINE TRAINING SECTION */

    .heading-styles-personal h1::first-letter {
        font-size: var(--fs-heading-first-letter-tablet);
        letter-spacing: -6.9rem;
    }

    .heading-styles-personal h1 {
        font-size: var(--fs-heading-following-letters-tablet);
    }

    .third-image {
        background-position: center center;
    }

    .personal-and-online-training p:nth-child(1),
    .personal-and-online-training p span:nth-child(1) {
        width: 65%;
        font-size: 1.5rem;
    }

    .personal-and-online-training-list .section-with-circle-images p {
        font-size: 2.7rem;
    }

    .personal-and-online-training-list .section-with-circle-images img {
        width: 255px;
        height: 255px;
    }

    /* Button */

    .button {
        font-size: 1.2rem;
        padding: 1rem 2rem;
        border-radius: 2rem;
    }

    .button:hover,
    .button:focus {
        color: black;
        background: white;
        outline: 4px solid var(--clr-headings-watermark);
    }

    /* END OF HOME PAGE STYLES */

    /* CLASSES PAGE STYLES FOR TABLET */

    .classes-layout-grid {
        grid-template-rows: 33rem auto 12rem;
    }

    .plans-heading h1 {
        font-size: var(--fs-heading-following-letters-tablet);
    }

    .plans-heading p {
        margin: 3rem 0;
    }

    .plans-heading p::first-letter {
        font-size: 3rem;
        line-height: .1;
        color: black;
    }

    .plans-and-pricing p {
        font-size: 1.5rem;
        line-height: 1.4;
        color: rgb(105, 112, 112);
        color: black;
    }

    .classes-description-paragraphs p {
        columns: 2;
        font-size: 1.5rem;
        color: rgb(102, 102, 102);
        font-weight: 300;
        gap: 2.5rem;
        color: black;
        hyphens: auto;
    }

    .online-training-section::before {
        font-size: var(--fs-classes-section-numbers-tablet);

    }

    .online-training-section h1 {
        font-size: var(--fs-classes-page-sections-tablet);
        width: 60%;
    }

    .one-to-one-section::before {
        font-size: var(--fs-classes-section-numbers-tablet);

    }

    .one-to-one-section h1 {
        font-size: var(--fs-classes-page-sections-tablet);

    }

    .corporate-package-section::before {
        font-size: var(--fs-classes-section-numbers-tablet);
    }

    .corporate-package-section h1 {
        font-size: var(--fs-classes-page-sections-tablet);
    }

    .custom-plan-section h1 {
        font-size: var(--fs-classes-page-sections-tablet);
        text-transform: none;
        line-height: 1.1;
        hyphens: auto;

    }

    .custom-plan-section h1 span:nth-child(2) {
        font-weight: 300;
    }

    .custom-plan-section h2 {
        font-size: 1.7rem;
        font-weight: 300;
        color: rgb(4, 49, 31);
    }

    .training-options-classes p {
        text-transform: none;
        font-size: 3.7rem;
        font-weight: 100;
        line-height: 1;
    }

    .training-options-classes img {
        width: 255px;
        height: 255px;
    }

    .training-options-classes>h4 {
        color: black;
        font-size: 1.5rem;
        font-weight: 300;
        hyphens: auto;
    }

    .short-dividing-image-online {
        height: 24rem;
    }

    .short-dividing-image-group {
        height: 24rem;
    }

    .short-dividing-image-corporate {
        height: 24rem;
    }

    /* STYLES FOR CONTACT PAGE */

    .contact-layout-grid {
        grid-template-rows: 33rem auto auto 12rem;
    }

    .contact-main h1 {
        font-size: var(--fs-classes-page-sections-tablet);
    }

    .contact-main p {
        font-size: 1.7rem;
    }

    .phone {
        margin: 6rem 0;
    }

    .contact-social-media {
        padding: 2rem;
    }

    .contact-social-media i {
        font-size: 3.2rem;
    }

    .phone h2:nth-child(1)::before {
        padding: 2rem;
        font-size: 2rem;

    }

    .phone h2:nth-child(2)::before {
        padding: 2rem;
        font-size: 2rem;
    }

    .phone h2 {
        font-size: 1.7rem;

    }

    .phone h2:first-child {
        margin-bottom: 5rem;
    }

    /* STYLES FOR GALLERY PAGE */

    .gallery-page-grid {
        grid-template-rows: 33rem auto 12rem;

    }

    .gallery-page-main h1 {
        font-size: var(--fs-classes-page-sections-tablet);
        margin-top: 4rem;
    }

    .gallery-page-main p,
    .gallery-page-main h2 {
        font-size: 1.6rem;
        color: rgb(79, 88, 88);
        color: rgb(34, 33, 33);
        line-height: 1.4;
        margin: 3rem 0;
    }

    .gallery-page-main h2 {
        margin: 3rem auto;
    }

    .slider {
        height: 500px;
    }

    .button-slider {
        display: block;
        border: .5px solid #fff;
        padding: .1rem 1rem;
        background-color: transparent;
        border-radius: 0%;
        color: #fff;
        margin: 0 .3rem;
    }

    /* BACK TO TOP BUTTON */

    .back-to-top {
        padding: .5rem 1rem;
    }

    .back-to-top a {
        font-size: 1.2rem;

    }

    .back-to-top a:hover,
    .back-to-top a:focus {
        color: black;
    }

    .back-to-top:hover,
    .back-to-top:focus {
        background: white;
        border: 3px solid var(--clr-headings-watermark);
    }

    /* FOOTER */

    .footer-elements-layout ul li a {
        font-size: 1.3rem;
    }

    .copyright {
        font-size: 1rem;
    }

    footer i {
        font-size: 3rem;
    }
}

@media (min-width: 900px) {
    /* STYLES FOR HOME PAGE */

    .navbar a {
        font-size: 1.2rem;
    }

    .logo {
        width: 3rem;
    }

    .quote {
        font-size: 2rem;
        font-weight: 300;
        width: 53%;
    }

    .home-page-background-hero-image::before {
        font-size: 10rem;
        top: 4.5rem;
        left: 3rem;
    }

    .second-background-image-header {
        height: 17rem;
        width: 17rem;
        right: 5rem;
        top: 13rem;
    }

    .home-page-grid {
        overflow: hidden;
        grid-template-rows: 23rem auto auto auto auto auto 12rem;

        --first-letter-laptop: 10rem;
        --heading-letters-laptop: 4rem;
    }

    .about-me-heading::first-letter {
        font-size: 13rem;
    }

    .about-me h1:nth-child(2) {
        font-size: 3.5rem;
    }

    .column-section {
        column-count: 3;
    }

    .column-section p {
        font-size: 1rem;
    }

    .second-image {
        height: 33rem;
        width: 33rem;
        border-radius: 50%;
        margin: 0 auto;
        background-position: right;
        
    }

    /* Specialist Areas */

    .heading-styles h1:nth-child(1)::first-letter {
        font-size: var(--first-letter-laptop);
    }

    .heading-styles h1 {
        font-size: var(--heading-letters-laptop);
    }

    .specialist-areas ul li i {
        font-size: 2.5rem;
    }

    .specialist-areas ul li p {
        margin-left: 0;
        font-variant: small-caps;
        font-size: 1.3rem;
        align-self: start;
    }

    .specialist-areas ul li {
        border-right: 5px solid rgb(139, 188, 233, .2);
    }

    /* My Experties */

    /* .container-cards {
        grid-template-rows: auto;
    } */

    .container-cards h1 {
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.2rem;
    }

    /* Testimonials */

    .heading-styles-testimonials h1::first-letter {
        font-size: var(--first-letter-laptop);
    }

    .heading-styles-testimonials h1 {
        font-size: var(--heading-letters-laptop);
    }

    .testimonials-card-1 {
        width: 40rem;
    }

    .testimonials-card-img-right {
        width: 40rem;
    }

    .third-image {
        height: 34rem;
    }

    /* Personal Training */

    .heading-styles-personal h1 {
        font-size: var(--heading-letters-laptop);
    }

    .heading-styles-personal h1::first-letter {
        font-size: var(--first-letter-laptop);
        letter-spacing: -3.5rem;
        
    }

    .third-image {
        height: 28rem;
        width: 28rem;
        border-radius: 50%;
        margin: 0 auto;
    }

    .container p.personal-training-introduction {
        font-size: 1.3rem;
        line-height: 1.4;
        width: 40vw;
        hyphens: auto;
    }

    .personal-and-online-training-list .section-with-circle-images img {
        width: 18rem;
        height: 18rem;
    }

    .section-with-circle-images:nth-child(1) {
        margin-top: 5rem;
    }

}