/* CUSTOM PROPERTIES */

:root {
    --testimonial-quotes-clr: rgba(95, 95, 95, 0.4);
    
    --fw-section-headings: 200;
    --fs-section-headings: 3rem;
    --lh-section-headings: 1;

    --margin-bottom-headings: 1.5rem;
    --margin-top-headings: 1.5rem;
}

/* GENERAL RESET STYLES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Poppins', sans-serif;
}

/*CONTAINER THAT HOLDS THE TEXT AND LAYOUT (APART FROM HERO SECTIONS) OF THE PAGES TOGETHER */

.container {
    width: 80vw;
    margin: 0 auto;   
}

/*HOME PAGE LAYOUT - HERO SECTION AND LAYOUT*/

.home-page-grid {
    display: grid;
    grid-template-rows: 18rem auto auto auto auto auto 9rem;
}

.home-page-background-hero-image {
    background-image: url(images/home-page-cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1 / 2;   
}

/* STYLES OF THE NAVIGATION*/

nav {
    display: flex;
    /*background-color: rgba(61, 49, 49, 0.336);*/
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    width: 100%;
    height: 5rem;   
}

nav h1 {
    color: rgb(255, 255, 255);
    font-size: 0.5rem;
    margin-top: 0.3rem;  
}


nav ul li {
    list-style-type: none;
    /*I commented out this, because it was breaking the alignment of the items in navigation, 
    but will keep in like that in case we need to change it later*/
    /*margin: 0.1rem;
    padding: 0.3rem;*/
}

nav ul li a {
    color: rgb(214, 248, 241);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
}

/* STYLES FOR THE LOGO OF THE WEBSITE */ 

.logo img {
    border-radius: 60%;
    width: 2.5rem;
    
    /* "display: flex;" in this case allows me to center the logo in the navigation too.
    if I don't include it, the image is not centered, it is not affected by the styles of the <nav> tag*/
    display: flex;  
}

/*ABOUT ME STYLES*/

.about-me {
    grid-row: 2 / 3;
    /*border-bottom: 1px solid rgb(173, 173, 173);*/
}

/*I would have to test if this image can be used on the hero section */

/*.about-me-background {
    background: url(images/IMG_0021.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.about-me {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.about-me p {
    font-weight: 200;
}

.about-me h1 {
    font-size: var(--fs-section-headings);
    line-height: var(--lh-section-headings);
    color: rgb(35, 41, 41);
    font-weight: 300;
    margin-top: var(--margin-top-headings);
}

.about-me .about-me-heading {
    font-weight: 200; 
    margin-top: 1.5rem;
}

.about-me h1:nth-child(2) {
    margin-bottom: var(--margin-bottom-headings);
    font-weight: bold;
}

.about-me li {
    margin-bottom: .5rem;
}

.about-me i {
    font-size: 1.2rem;
    margin-right: 1.5rem;
    height: 1rem;
    width: 1rem;
}

.about-me p:nth-of-type(2) {
    margin-top: 0.5rem;
}

.about-me p:nth-of-type(3) {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.about-me ul {
    list-style-type: none;
}


/* STYLES FOR THE SECOND IMAGE ON HOME PAGE */

.second-image {
    width: 100%;
    height: 350px;
    background: url(images/jpeg1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    grid-row: 3 / 4;
}

/* STYLES FOR THE SPECIALIST AREAS AND EXPERTIES SECTION */

.section-4-5 {
    grid-row: 4 / 5;
}

.thin-font-heading-home-page h1 {
    font-weight: var(--fw-section-headings);
    line-height: var(--lh-section-headings);
    margin-bottom: var(--margin-bottom-headings);
    margin-top: var(--margin-top-headings);
}

.thin-font-heading-home-page h1 span {
    font-weight: 100;
    font-size: 3.2rem;
    
}

.thin-font-heading-home-page li {
    font-size: 1.2rem;
    font-weight: 200;
}

.thin-font-heading-home-page i {
    font-size: 1rem;
}

.skewed-border {
    border-bottom: .1rem solid rgb(19, 16, 16);
    /* transform: rotate(-3deg); */
    width: 15%;
}

/* .experties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);       
}

.experties li {
    padding: 1.2rem;
    margin: 0;
    font-size: .9rem;
}

.experties li:nth-child(1) {
    border-top: 1px solid black;
    border-radius: 50%;
    
}

.experties li:nth-child(4) {
    border-top: 1px solid black;  
    border-radius: 50%;
    
} */

.container-cards h1 {
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 10px;
    padding-left: 1rem;
    font-weight: 200;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: .1rem;
    margin-top: 0;
}

.level3 {
    background: url(images/personal-trainer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(57, 65, 57, .7);
    background-blend-mode: multiply;
}

.level2 {
    background: url(images/kettlebells.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(57, 65, 57, .7);
    background-blend-mode: multiply;
 
}

.circuit-training {
    background: url(images/circuit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(57, 65, 57, .7);
    background-blend-mode: multiply;

}

.nutrition-award {
    background: url(images/nutrition.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(57, 65, 57, .7);
    background-blend-mode: multiply;
}

/* STYLES FOR THE TESTIMONIALS SECTION */

.testimonials {
    grid-row: 5 / 6;
    border-bottom: rgb(156, 190, 180);
    
}

.testimonials h1 {
    text-align: left;
    font-weight: var(--fw-section-headings);
    text-transform: uppercase;
    font-size: var(--fs-section-headings);
    line-height: var(--lh-section-headings);  
    margin-bottom: var(--margin-bottom-headings);
    margin-top: var(--margin-top-headings);
}

.testimonials-card {
    width: 100%;
    background-color: rgb(156, 190, 180);
    display: grid;
    grid-template-columns: 100px 50px 1fr;
    grid-template-rows: repeat(2, 70px);
    position: relative;
    color: black;
    margin: 2rem 0;
}

.testimonials-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials-card p {
    font-size: .8rem;
    grid-column: 3 / 4;
    padding: 15px 20px 0 20px;
    
}

.testimonials-card p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\f10d';
    font-size: 3.5rem;
    color: var(--testimonial-quotes-clr);
    position: absolute;
    top: -17%; 
    right: -35%;
    grid-column: 2 / 3; 
    padding-right: 1rem;
    overflow: hidden;
    transform: rotate(-3deg);
}

 .testimonials-card p::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\f10e';
    font-size: 3.5rem;
    color: var(--testimonial-quotes-clr);
    position: absolute;
    padding-left: 1rem;
    transform: rotate(-3deg); 
}

.testimonials-card h3 {
    grid-column: 3 / 4; 
    align-self: end;
    justify-self: start;
    font-size: .6rem;
    padding-left: 20px;
}

/* Testimonials with images on the right */

.testimonials-card-img-right {
    background: rgb(147, 175, 164);
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: repeat(2, 70px);
    position: relative;
}

.testimonials-card-img-right img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    grid-column: 3 / 4;
    justify-self: end;
}

.testimonials-card-img-right p {
    font-size: .8rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 15px 20px 0 20px;
}

.testimonials-card-img-right p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\f10d';
    font-size: 3.5rem;
    color: var(--testimonial-quotes-clr);
    position: absolute;
    top: -17%;
    left: 10%;
    grid-column: 1 / 2;
    padding-right: 1rem;
    overflow-x: hidden;
    transform: rotate(3deg);
}

.testimonials-card-img-right p::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\f10e';
    font-size: 3.5rem;
    color: var(--testimonial-quotes-clr);
    position: absolute;
    padding-left: 1rem;
    transform: rotate(3deg);
}

.testimonials-card-img-right h3 {
    grid-column: 2 / 3; 
    align-self: end;
    justify-self: start;
    font-size: .6rem;
    padding-left: 20px;
}

/* End of Testimonials with image aligned to the right */

/*PERSONAL AND ONLINE TRAINING STYLESS*/

.personal-and-online-training {
    grid-row: 6 / 7;
    
    /*margin-top: 1rem;*/    
}

.chevron-p-and-o-training::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\f078';
    font-size: 5rem;
    color: rgba(0, 0, 0,);
    display: block;
    text-align: center;
    animation: 1.2s infinite alternate bounceUpDown; 
}

/* Animation for the Chevron */

@keyframes bounceUpDown {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

/* end of animation */

.third-image {
    width: 100vw;
    height: 60vh;
    background-image: url(images/classes-bg-image.jpg);
    background-size: cover;
    margin-top: 2rem;
   
}

.personal-and-online-training h1 {
    margin-bottom: var(--margin-bottom-headings);
    font-weight: var(--fw-section-headings);
    font-size: var(--fs-section-headings);
    line-height: var(--lh-section-headings);
    text-transform: uppercase;
}

.button {
    display: inline-block;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    text-decoration: none;
    padding: .9rem;
    background-color: rgba(121, 209, 183, 0.815);
    color: rgb(54, 54, 54);
    margin: 0 0 2rem 0;  
    font-weight: 500;
    
}

.personal-and-online-training-list img {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    object-fit: cover;
    justify-self: end;
    align-self: end;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
}


/*FOOTER STYLES*/

footer {
    background: rgba(0, 0, 0);
    grid-row: 7 / 8;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

footer p {
    color: white;
    font-size: 1rem;
    border-top: none;
}

footer i {
    font-size: 2rem;
}

footer i:hover,
footer i:focus {
    transform: translateY(-.8rem);
    transition: transform 250ms ease-in-out;
}

footer ul li a:hover {
    color: rgba(255, 255, 255, 0.415);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.footer-elements-layout ul {
    list-style-type: none;
}

.footer-elements-layout a {
    color: white;
    text-decoration: none;
    font-size: 1rem; 
}

.copyright {
    text-align: center;
    background: black;
    color: white;
    font-size: 0.7rem;
    
}


/* STYLES FOR THE NAVIGATION, 
LOGO AND HERO IMAGE ON "CLASSES" PAGE */

.classes-layout-grid {
    display: grid;
    /* grid-template-rows: 26.25rem 1fr 315px 11rem; */
    grid-template-rows: 18rem auto 9rem;
}

.classes-hero-background {
    background-image: url(images/loggo-edited.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1 / 2; 
     
}

/* Styles for "Plans and Pricing" 
section on Classes page*/

.plans-and-pricing {
    grid-row: 2 / 3; 
}

.plans-and-pricing h1 {
    font-size: var(--fs-section-headings);
    font-weight: var(--fw-section-headings);
    line-height: var(--lh-section-headings);
    margin: var(--margin-top-headings) 0 var(--margin-bottom-headings) 0;  
    text-transform: uppercase;
}

.plans-and-pricing h1 span {
    font-weight: 100;
}

.plans-and-pricing p {
    font-weight: 300;
    font-size: .9rem;
    margin-top: var(--margin-top-headings);
}

.plans-heading p::first-letter {
    font-size: 1.7rem;
    line-height: .1;
}

.online-training-section::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\31.';
    font-size: 3.5rem;
    display: block;
    margin-top: 1.5rem;
}

.short-dividing-image-online {
     background: url(images/online-training.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 12rem;
     background-blend-mode: lighten;
     background-color: rgb(62, 80, 70);
 }

.one-to-one-section::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\32.';
    font-size: 3.5rem;
    display: block;
    margin-top: 1.5rem;
}

.short-dividing-image-group {
    background: url(images/one-to-one-group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    background-blend-mode: lighten;
    background-color: rgb(62, 80, 70);
}

.corporate-package-section::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\33.';
    font-size: 3.5rem;
    display: block;
    margin-top: 1.5rem;
}

.short-dividing-image-corporate {
    background: url(images/corporate-training.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    background-blend-mode: lighten;
    background-color: rgba(62, 80, 70);
}

.custom-plan-section h2 {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.2;
}

.section-with-circle-images {
    margin-top: var(--margin-top-headings);
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.section-with-circle-images img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 50%;
}

.section-with-circle-images p {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: center;
    justify-self: center;
}

.training-options-classes h4 {
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.4;
    margin-bottom: 2rem;
}

/* FOOTER ON CLASSES PAGE */

.classes-layout-grid footer {
    grid-row: 3 / 4;
}

/* END OF FOOTER ON CLASSES PAGE */


/* STYLES FOR THE CONTACT PAGE */


.contact-layout-grid {
    display: grid;
    grid-template-rows: 18rem auto 9rem;
}

.contact-header-bg {
    background-image: url(images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-main h1 {
    font-weight: var(--fw-section-headings);
    font-size: var(--fs-section-headings);
    line-height: var(--lh-section-headings);
    text-transform: uppercase;
    margin: var(--margin-top-headings) 0 var(--margin-bottom-headings) 0;
}

.contact-main h1 span {
    font-weight: 100;
}

.contact-main p {
    margin-bottom: var(--margin-bottom-headings);
    font-size: .8rem;
    font-weight: 300;
}

.contact-main h2 {
    font-size: 1rem;
    font-weight: 200;
}

.contact-main h2:last-child {
    margin-bottom: var(--margin-bottom-headings);
}

.phone h2:first-child::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f095";
    margin-right: 1rem;
}

.phone h2:last-child::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0e0";
    margin-right: 1rem;
}

/* FOOTER ON CONTACT PAGE */

.contact-layout-grid footer {
    grid-row: 3 / 4;
}